<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
        integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css"
        integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="shortcut icon" href="./assets/img/png/token-1.png">
    <title>Test</title>
</head>

<body>
    <!-- preloader -->
    <section>
        <div class="preloader d-flex align-items-center justify-content-center w-100 h-100">
            <div class="position-absolute cv_txt d-flex justify-content-center align-items-center flex-column">
                <div class="preloader_logo"> <img src="./assets/img/png/nav-icon.png" alt="nav-icon"></div>
                <h1 class=" fs-70 text-black ff-p txt-shdow text-white text-center fs-lh-30-54">Loading...</h1>
            </div>
        </div>
    </section>



    <header class="hero-sec-bg-img d-flex flex-column" id="hero_sec">
        <nav class="nav-bg-color">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between py_19">
                    <div class="curser"><img src="./assets/img/png/nav-icon.png" alt="fav icon" class="max_w_200">
                    </div>

                    <div class="d-flex align-items-center gap_29">
                        <div class="menuIcon">
                            <span class="first-line"></span>
                            <span class="sec-line"></span>
                            <span class="third-line"></span>
                        </div>
                        <ul class="d-flex align-items-center gap_40 mb-0 menu-links menuBar">
                            <li><a href="#about"
                                    class="text-black nav-links fs-22 lh-22 fw-4 text-white ff-j text-nowrap">About</a>
                            </li>
                            <li><a href="#gild"
                                    class="text-black nav-links fs-22 lh-22 fw-4 text-white ff-j text-nowrap">Presale
                                    $GILD</a></li>
                            <li><a href="#staking"
                                    class="text-black nav-links fs-22 lh-22 fw-4 text-white ff-j text-nowrap">Staking
                                    $GILD</a></li>
                            <li><a href="#nodes"
                                    class="text-black nav-links fs-22 lh-22 fw-4 text-white ff-j text-nowrap">$GILD
                                    Nodes</a></li>
                            <button class="bttn d-xl-none d-block">
                                <div class="d-flex align-items-center justify-content-center gap-2">
                                    <img src="./assets/img/svg/discord-btn-img.svg" alt="discord">
                                    <p class="mb-0 fs-24 lh-24 ff-j text-white "> Discord</p>
                                </div>
                            </button>
                        </ul>
                        <button class="bttn d-xl-block d-none">
                            <div class="d-flex align-items-center justify-content-center gap-2">
                                <img src="./assets/img/svg/discord-btn-img.svg" alt="discord">
                                <p class="mb-0 fs-24 lh-24 ff-j text-white"> Discord</p>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </nav>

        <!----------------------------- hero section ------------------>
        <div class="container d-flex flex-grow-1 align-items-center justify-content-end flex-column pb_129">
            <h1 class="text-center fs-72 fw-4 lh-91 text-white md-fs-lh-52-72 md_pt_200">There are games... And then
                there are <span class="primary-color">Gilded</span> Games</h1>

            <!-- <p class="ff-j fs-36 fw-6 lh-45 text-center mb-0 text-white pt_20"><span class="primary-color"> 19d :</span>
                10hr : 2min : 55sec</p> -->
            <!-- <p id="countdown" class="ff-j fs-36 fw-6 lh-45 text-center mb-0 text-white pt_20"></p> -->
            <div id="countdown" class="ff-j fs-36 fw-6 lh-45 text-center mb-0 text-white pt_20"></div>

            <p class="ff-j fs-18 lh-23 text-center text-white mb-0">Remaining Presale Time</p>
            <div class="d-flex align-items-center justify-content-center gap-4 pt-4 flex-md-nowrap flex-wrap">
                <button class="bttn">
                    <div class="d-flex align-items-center justify-content-center gap-2">
                        <img src="./assets/img/svg/hand-btn-img.svg" alt="hand">
                        <p class="mb-0 fw-4 fs-24 lh-24 ff-j text-white">Presale</p>
                    </div>
                </button>
                <button class="join-btn ff-j fs-24 lh-24 fw-4 ">Join Now</button>
            </div>
        </div>
    </header>

    <main class="bg-black overflow-hidden">
        <!------------------------- nft utlity--------------------------- -->
        <section class="nft-bg-img" id="about">
            <div class="container pt_105 pb_200 justify-content-between">
                <div class="row d-flex align-items-center flex-column-reverse flex-lg-row">
                    <div class="col-lg-6 col-12 flex-column-reverse" data-aos="fade-right">
                        <h1 class="ff-j fw-7 fs-48 lh-61 text-white mb-0 text-lg-start text-center md-fs-h-40-54"> <span
                                class="nft-color">NFT</span> Utility
                        </h1>
                        <p class="mb-0 ff-p fw-4 fs-20 lh-35 opacity-75 text-white pt-3 text-lg-start text-center">Lorem
                            ipsum dolor sit amet,
                            consectetur adipiscing elit. Proin curabitur
                            iaculis id cursus dignissim. Volutpat placerat
                            volutpat commodo id ultricies volutpat vestibulum. Egestas venenatis dignissim fames
                            maecenas. Blandit orci consectetur
                            mauris, ipsum viverra quisque. Vulputate sollicitudin tellus eget consequat lectus dignissim
                            integer in vitae. Commodo
                            integer dis tortor cras maecenas sit. Et nunc et platea elementum, cursus morbi. Placerat
                            molestie nibh parturient
                            lectus magna sed fusce diam urna. Quam magna duis imperdiet posuere iaculis.</p>
                    </div>
                    <div class="col-lg-5 col-12" data-aos="fade-left"><img src="./assets/img/png/sec-2-img.png"
                            alt="girl" class="w-100">
                    </div>
                </div>
            </div>
        </section>

        <!--------------------------- play to earn -------------------------->
        <section class="bg-black">
            <div class="container d-flex align-items-center  justify-content-between flex-column " data-aos="zoom-in">
                <h1 class="ff-j fw-7 fs-48 lh-61 text-white mb-0 text-center md-fs-h-40-54"> Play To <span
                        class="primary-color">Earn</span></h1>

                <p class="mb-0 ff-p fw-4 fs-20 lh-35 opacity-75 text-white pt-3 text-center max-w-1024">Gilded World
                    will be
                    the first game released by Gilded Games. It is an MMORPG, browser based game that is unlike any
                    other. We have taken inspiration from some of the most popular and successful MMORPG and RPG
                    games and have boiled it
                    down to the best online gameplay that people will actually want to play!</p>
                <div class=" mt-5 gif_border"><img src="./assets/img/gif/sec-3-gif.gif" alt="play " class="w-100">
                </div>

            </div>
        </section>

        <!------------------------------ commas ------------------------>
        <section class="commas-bg-img mt-110">
            <div class="container" data-aos="flip-down">
                <div class="d-flex align-items-center justify-content-center">
                    <h2
                        class="max-w-940 text-center fw-4 ff-j fs-40 lh-61 py_230 text-white commas-txt md-fs-lh-32-40 lg_py_80">
                        Gilded Games is a new type of gaming platform, partially owned and operated by its players. Earn
                        Gild tokens by playing
                        and use them to decide the future of the game!
                    </h2>
                </div>
            </div>
        </section>

        <!---------------- gilt token info ----------------------->
        <section class="token-bg-img" id="gild">
            <div class="container py_130">
                <h1 class="ff-j fw-7 fs-48 lh-61 text-white mb-0 text-center md-fs-h-40-54"> <span
                        class="nft-color">$GILD </span>
                    Token Info
                </h1>
                <div class="row pt_60 ">
                    <div class="col-lg-3 col-md-6 pt-2 pt-lg-0" data-aos="flip-up">
                        <div class="token-card d-flex align-items-center justify-content-center flex-column">
                            <span> <img src="./assets/img/png/token-1.png" alt="tokens"></span>
                            <p class="text-white fw-7 fs-30 lh-39 mb-0 pt-3">3 BIllion</p>
                            <p class="fw-4 fs-18 lh-23 mb-0 text-white">GILD Token Info</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 pt-2 pt-lg-0" data-aos="flip-down">
                        <div class="token-card d-flex align-items-center justify-content-center flex-column">
                            <span> <img src="./assets/img/png/token-2.png" alt="tokens"></span>
                            <p class="text-white fw-7 fs-30 lh-39 mb-0 pt-3">Pre Sale Token</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 pt-2 pt-lg-0" data-aos="flip-up">
                        <div class="token-card d-flex align-items-center justify-content-center flex-column">
                            <span> <img src="./assets/img/png/token-3.png" alt="tokens"></span>
                            <p class="text-white fw-7 fs-30 lh-39 mb-0 pt-3">100,000+</p>
                            <p class="fw-4 fs-18 lh-23 mb-0 text-white">Holders</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 pt-2 pt-lg-0" data-aos="flip-down">
                        <div class="token-card d-flex align-items-center justify-content-center flex-column">
                            <span> <img src="./assets/img/png/token-4.png" alt="tokens"></span>
                            <p class="text-white fw-7 fs-30 lh-39 mb-0 pt-3">2,500+</p>
                            <p class="fw-4 fs-18 lh-23 mb-0 text-white">NFT Sold</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!------------------------ roadmap ---------------------------->
        <section class="min-h-355 " id="staking">
            <h1 class="ff-j fw-7 fs-48 lh-61 text-white mb-0 text-center md-fs-h-40-54"><span
                    class="nft-color">Road</span>map
            </h1>
            <div class="container d-lg-block d-none">
                <div class="timelineLine position-relative">
                    <img src="./assets/img/png/timeline.png" alt="line" class="w-100">
                    <div class="position-absolute first_itm">
                        <div class="position-relative timeline-cricle">
                            <p class="fw-6 ff-p fs-18 mb-0 lh-23 text-white">Phase 1</p>
                            <h3 class="ff-p fs-36 fw-6 lh-45 mb-0 text-white pb-1">Q1 2022</h3>
                            <p class="d-flex align-items-center pt-2 gap-2">
                            <div class="d-flex align-items-center pt-2 gap-2">
                                <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">.</p>
                                <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">Whitelist/Presale Created</p>
                            </div>
                            <div class="d-flex align-items-center pt-2 gap-2">
                                <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">.</p>
                                <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">Private Sale</p>
                            </div>
                            <div class="d-flex align-items-center pt-2 gap-2">
                                <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">.</p>
                                <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">Public Sale</p>
                            </div>
                            <div class="d-flex align-items-center pt-2 gap-2">
                                <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">.</p>
                                <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">Prime Eternal Owner Perks</p>
                            </div>
                        </div>
                    </div>

                    <div class="position-absolute first_itm1">
                        <div class="position-relative timeline-cricle1">
                            <p class="fw-6 ff-p fs-18 mb-0 lh-23 text-white">Phase 2</p>
                            <h3 class="ff-p fs-36 fw-6 lh-45 mb-0 text-white pb-1">Q2 2022</h3>
                            <p class="d-flex align-items-center pt-2 gap-2">
                            <div class="d-flex align-items-center pt-2 gap-2">
                                <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">.</p>
                                <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">Token & Staking Release</p>
                            </div>
                            <div class="d-flex align-items-center pt-2 gap-2">
                                <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">.</p>
                                <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">Staking Gameplay</p>
                            </div>
                        </div>
                    </div>

                    <div class="position-absolute first_itm2">
                        <div class="position-relative timeline-cricle2">
                            <p class="fw-6 ff-p fs-18 mb-0 lh-23 text-white">Phase 3</p>
                            <h3 class="ff-p fs-36 fw-6 lh-45 mb-0 text-white pb-1">Q3 2022</h3>
                            <p class="d-flex align-items-center pt-2 gap-2">
                            <div class="d-flex align-items-center pt-2 gap-2">
                                <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">.</p>
                                <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">MVP Gameplay Release</p>
                            </div>
                            <div class="d-flex align-items-center pt-2 gap-2">
                                <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">.</p>
                                <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">Battle Modes Release</p>
                            </div>
                            <div class="d-flex align-items-center pt-2 gap-2">
                                <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">.</p>
                                <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">Land Gameplay Release</p>
                            </div>
                            <div class="d-flex align-items-center pt-2 gap-2">
                                <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">.</p>
                                <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">Gear Forging Release</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!------------------------ timeline responve --------------------------->
            <div class="d-lg-none d-block">
                <div class="container">
                    <div class="rightbox">
                        <div class="rb-container">
                            <ul class="rb">
                                <li class="rb-item" ng-repeat="itembx">
                                    <p class="fw-6 ff-p fs-18 mb-0 lh-23 text-white">Phase 1</p>
                                    <h3 class="ff-p fs-36 fw-6 lh-45 mb-0 text-white pb-1">Q1 2022</h3>
                                    <p class="d-flex align-items-center pt-2 gap-2">
                                    <div class="d-flex align-items-center pt-2 gap-2">
                                        <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">.</p>
                                        <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">Whitelist/Presale Created
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center pt-2 gap-2">
                                        <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">.</p>
                                        <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">Private Sale</p>
                                    </div>
                                    <div class="d-flex align-items-center pt-2 gap-2">
                                        <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">.</p>
                                        <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">Public Sale</p>
                                    </div>
                                    <div class="d-flex align-items-center pt-2 gap-2">
                                        <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">.</p>
                                        <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">Prime Eternal Owner Perks
                                        </p>
                                    </div>

                                </li>
                                <li class="rb-item" ng-repeat="itembx">
                                    <p class="fw-6 ff-p fs-18 mb-0 lh-23 text-white">Phase 1</p>
                                    <h3 class="ff-p fs-36 fw-6 lh-45 mb-0 text-white pb-1">Q1 2022</h3>
                                    <p class="d-flex align-items-center pt-2 gap-2">
                                    <div class="d-flex align-items-center pt-2 gap-2">
                                        <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">.</p>
                                        <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">Whitelist/Presale Created
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center pt-2 gap-2">
                                        <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">.</p>
                                        <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">Private Sale</p>
                                    </div>
                                    <div class="d-flex align-items-center pt-2 gap-2">
                                        <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">.</p>
                                        <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">Public Sale</p>
                                    </div>
                                    <div class="d-flex align-items-center pt-2 gap-2">
                                        <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">.</p>
                                        <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">Prime Eternal Owner Perks
                                        </p>
                                    </div>

                                </li>

                                <li class="rb-item" ng-repeat="itembx">
                                    <p class="fw-6 ff-p fs-18 mb-0 lh-23 text-white">Phase 3</p>
                                    <h3 class="ff-p fs-36 fw-6 lh-45 mb-0 text-white pb-1">Q3 2022</h3>
                                    <p class="d-flex align-items-center pt-2 gap-2">
                                    <div class="d-flex align-items-center pt-2 gap-2">
                                        <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">.</p>
                                        <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">MVP Gameplay Release</p>
                                    </div>
                                    <div class="d-flex align-items-center pt-2 gap-2">
                                        <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">.</p>
                                        <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">Battle Modes Release</p>
                                    </div>
                                    <div class="d-flex align-items-center pt-2 gap-2">
                                        <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">.</p>
                                        <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">Land Gameplay Release</p>
                                    </div>
                                    <div class="d-flex align-items-center pt-2 gap-2">
                                        <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">.</p>
                                        <p class="opacity-75 fs-18 ff-m fw-4 mb-0 text-white">Gear Forging Release</p>
                                    </div>

                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-------------------------------- treasur --------------------------------->
        <section class="trasure-bg-img position-relative overflow-hidden">
            <div class="position-absolute traser-bg-img end-0 d-none d-xl-block">
                <img src="./assets/img/png/gold-bg-img.png" alt="gold-bg-img" class="w-100">
            </div>
            <div class="container pt_300 pb_200 lg-pt-100 lg-pb-100">
                <div class="row justify-content-between align-items-center flex-column-reverse flex-lg-row">
                    <div class="col-lg-5 d-flex d-lg-block align-items-center justify-content-between pt-4 pt-lg-0 flex-column"
                        data-aos="fade-up-right">
                        <h1 class="ff-j fw-7 fs-48 lh-61 text-white mb-0 pb_10 md-fs-h-40-54 text-lg-start text-center">
                            Buy On <span class="primary-color">Uniswap</span></h1>
                        <div class="d-flex align-items-center gap-3 pt_11">
                            <div class="fw-4 lh-35 ff-j text-white dots"></div>
                            <p class="fw-4 fs-20 lh-35 ff-j text-white mb-0">100,000+ Airdrop</p>
                        </div>
                        <div class="d-flex align-items-center gap-3 pt_11">
                            <div class="fw-4 lh-35 ff-j text-white  dots"></div>
                            <p class="fw-4 fs-20 lh-35 ff-j text-white mb-0">NFT $GILD giveaway</p>
                        </div>
                        <div class="d-flex align-items-center gap-3 pt_11">
                            <div class="fw-4 lh-35 ff-j text-white dots"></div>
                            <p class="fw-4 fs-20 lh-35 ff-j text-white mb-0">Announcement and Games</p>
                        </div>

                        <button class="bttn mt_41">
                            <div class="d-flex align-items-center justify-content-center gap-2">
                                <img src="./assets/img/svg/horse.svg" alt="discord">
                                <p class="mb-0 fs-24 lh-24 ff-j text-white"> Buy Now</p>
                            </div>
                        </button>
                    </div>
                    <div class="col-lg-4" data-aos="fade-up-left"><img src="./assets/img/png/gold-img.png" alt="treasur"
                            class="w-100"></div>
                </div>
            </div>
        </section>

        <!------------------------------- powered by ------------------------------>
        <section class="token-bg-img" id="nodes">
            <div class="container py_130">
                <h1 class="ff-j fw-7 fs-48 lh-61 text-white mb-0 text-center md-fs-h-40-54"> <span
                        class="nft-color">Powered </span>
                    By:
                </h1>
                <div class="row pt_60">
                    <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center pt-2 pt-lg-0" data-aos="flip-up">
                        <div class="token-card d-flex align-items-center justify-content-center flex-column">
                            <span class="px-3"> <img src="./assets/img/svg/powered-1.svg" alt="tokens"
                                    class="w-100"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center pt-2 pt-lg-0" data-aos="flip-down">
                        <div class="token-card d-flex align-items-center justify-content-center flex-column">
                            <span class="px-3"> <img src="./assets/img/svg/powered-2.svg" alt="tokens"
                                    class="w-100"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center pt-2 pt-lg-0" data-aos="flip-up">
                        <div class="token-card d-flex align-items-center justify-content-center flex-column">
                            <span class="px-3"> <img src="./assets/img/svg/powered-3.svg" alt="tokens"
                                    class="w-100"></span>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center pt-2 pt-lg-0" data-aos="flip-down">
                        <div class="token-card d-flex align-items-center justify-content-center flex-column">
                            <span class="px-3"> <img src="./assets/img/svg/powered-4.svg" alt="tokens"
                                    class="w-100"></span>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer class="footer-bg-img">
        <!----------------------- faq -------------------------------------->
        <section class="py_230 lg_py_80">
            <div class="container_faq">
                <h1 class="ff-j fw-7 fs-48 lh-61 text-white mb-0 pb_10 text-center md-fs-h-40-54"> Frequently Asked
                    <span class="primary-color">Questions</span>
                </h1>
                <div class="full_accrodian_part mt-4">
                    <div class="clickAblePart d-flex justify-content-between">
                        <h1 class="text-white fs-18 fw-5 lh-27 ff-p mb-0">Q.1 Lectus tristique turpis id?</h1>
                        <span class="accordin-arrow">
                            <img src="./assets/img/svg/accordain_bottom_side_arrow.png" alt="bottom aarrow">
                        </span>
                    </div>
                    <div class="hidden_txt align-items-center gap-3 pt-4">
                        <span class="d-flex align-items-center"><img src="./assets/img/svg/accordian-side-arrow.svg"
                                alt="side arrow"></span>
                        <p class="mb-0 ff-p fw-4 fs-18 lh-27 text-white opacity-75">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Eu est malesuada massa nec pharetra.</p>
                    </div>
                </div>
                <div class="full_accrodian_part mt-4">
                    <div class="clickAblePart d-flex justify-content-between">
                        <h1 class="text-white fs-18 fw-5 lh-27 ff-p mb-0">Q.2 Ac pharetra nisl nec dignissim odio sed
                            justo
                            velit nisl.?</h1>
                        <span class="accordin-arrow">
                            <img src="./assets/img/svg/accordain_bottom_side_arrow.png" alt="bottom aarrow">
                        </span>
                    </div>
                    <div class="hidden_txt align-items-center gap-3 pt-4">
                        <span class="d-flex align-items-center"><img src="./assets/img/svg/accordian-side-arrow.svg"
                                alt="side arrow"></span>
                        <p class="mb-0 ff-p fw-4 fs-18 lh-27 text-white opacity-75">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Eu est malesuada massa nec pharetra.</p>
                    </div>
                </div>
                <div class="full_accrodian_part mt-4">
                    <div class="clickAblePart d-flex justify-content-between">
                        <h1 class="text-white fs-18 fw-5 lh-27 ff-p mb-0">Q.3 Arcu tristique semper neque sed
                            condimentum.?
                        </h1>
                        <span class="accordin-arrow">
                            <img src="./assets/img/svg/accordain_bottom_side_arrow.png" alt="bottom aarrow">
                        </span>
                    </div>
                    <div class="hidden_txt align-items-center gap-3 pt-4">
                        <span class="d-flex align-items-center"><img src="./assets/img/svg/accordian-side-arrow.svg"
                                alt="side arrow"></span>
                        <p class="mb-0 ff-p fw-4 fs-18 lh-27 text-white opacity-75">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Eu est malesuada massa nec pharetra.</p>
                    </div>
                </div>
                <div class="full_accrodian_part mt-4">
                    <div class="clickAblePart d-flex justify-content-between">
                        <h1 class="text-white fs-18 fw-5 lh-27 ff-p mb-0">Q.4 Nam imperdiet iaculis vel felis commodo?
                        </h1>
                        <span class="accordin-arrow">
                            <img src="./assets/img/svg/accordain_bottom_side_arrow.png" alt="bottom aarrow">
                        </span>
                    </div>
                    <div class="hidden_txt align-items-center gap-3 pt-4">
                        <span class="d-flex align-items-center"><img src="./assets/img/svg/accordian-side-arrow.svg"
                                alt="side arrow"></span>
                        <p class="mb-0 ff-p fw-4 fs-18 lh-27 text-white opacity-75">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Eu est malesuada massa nec pharetra.</p>
                    </div>
                </div>
                <div class="full_accrodian_part mt-4">
                    <div class="clickAblePart d-flex justify-content-between">
                        <h1 class="text-white fs-18 fw-5 lh-27 ff-p mb-0">Q.5 Quam faucibus sagittis sed ultrices?</h1>
                        <span class="accordin-arrow">
                            <img src="./assets/img/svg/accordain_bottom_side_arrow.png" alt="bottom aarrow">
                        </span>
                    </div>
                    <div class="hidden_txt align-items-center gap-3 pt-4">
                        <span class="d-flex align-items-center"><img src="./assets/img/svg/accordian-side-arrow.svg"
                                alt="side arrow"></span>
                        <p class="mb-0 ff-p fw-4 fs-18 lh-27 text-white opacity-75">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Eu est malesuada massa nec pharetra.</p>
                    </div>
                </div>
            </div>
        </section>

        <!------------------------------- footer part ------------------------------------>
        <section>
            <div class="container">
                <div class="row justify-content-between align-content-center pb-5">
                    <div class="col-lg-4 col-12">
                        <a href="#hero_sec">
                            <img src="./assets/img/png/nav-icon.png" alt="footer-link">
                        </a>
                        <p class="mb-0 ff-p fs-16 fw-4 lh-29 opacity-75 text-white pt_11">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Proin curabitur iaculis id cursus dignissim.</p>
                        <div class="d-flex align-items-center gap_6 pt-4">
                            <a href="https://discord.com/login" target="_blank"> <span class="mediaApp">
                                    <img src="./assets/img/svg/discord.svg" alt="discord">
                                </span>
                            </a>
                            <a href="https://twitter.com/login" target="_blank"> <span class="mediaApp">
                                    <img src="./assets/img/svg/twitter.svg" alt="twitter">
                                </span>
                            </a>
                            <a href="https://web.telegram.org/" target="_blank"> <span class="mediaApp">
                                    <img src="./assets/img/svg/telegram.svg" alt="telegram">
                                </span></a>
                            <a href="https://soundcloud.com/" target="_blank"> <span class="mediaApp">
                                    <img src="./assets/img/svg/soundcloud.svg" alt="soundcloud">
                                </span>
                            </a>
                            <a href="https://www.reddit.com/" target="_blank"> <span class="mediaApp">
                                    <img src="./assets/img/svg/reddit.svg" alt="reddit">
                                </span>
                            </a>
                            <a href="https://github.com/" target="_blank"> <span class="mediaApp">
                                    <img src="./assets/img/svg/github.svg" alt="github">
                                </span>
                            </a>
                        </div>
                    </div>
                    <div
                        class="col-lg-4 col-12 d-flex align-items-center justify-content-between justify-content-lg-end mt-lg-0 mt-4">
                        <div class="row w-100">
                            <div class="col-6">
                                <ul class="ps-0">
                                    <li class="ff-j fs-16 fw-6 lh-28 text-white pb_6">About:</li>
                                    <li class="pt_6"><a href=""
                                            class="ff-j fs-16 fw-6 lh-28 opacity-75 text-white footer-links">About
                                            Us</a></li>
                                    <li class="pt_6"><a href=""
                                            class="ff-j fs-16 fw-6 lh-28 opacity-75 text-white footer-links">Carrer</a>
                                    </li>
                                    <li class="pt_6"><a href=""
                                            class="ff-j fs-16 fw-6 lh-28 opacity-75 text-white footer-links">Gilded
                                            Nodes</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul class="ps-0">
                                    <li class="ff-j fs-16 fw-6 lh-28 text-white pb_6">Gilded Token:</li>
                                    <li class="pt_6"><a href=""
                                            class="ff-j fs-16 fw-6 lh-28 opacity-75 text-white footer-links">Etherscan.io</a>
                                    </li>
                                    <li class="pt_6"><a href=""
                                            class="ff-j fs-16 fw-6 lh-28 opacity-75 text-white footer-links">GitHub</a>
                                    </li>
                                    <li class="pt_6"><a href=""
                                            class="ff-j fs-16 fw-6 lh-28 opacity-75 text-white footer-links">Uniswap</a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="footerUderLine"> </div>
            <div class="d-flex align-items-center justify-content-center gap-3 pt_11 pb_14">
                <p class="ff-j fs-16 fw-6 lh-28 opacity-75 text-white text-center mb-0">
                    © Copyright $GILD 2021
                </p>
                <div class="copyrightLine"></div>
                <p class="ff-j fs-16 fw-6 lh-28 opacity-75 text-white text-center mb-0">
                    Policy
                </p>
            </div>
        </section>
    </footer>

    <div class="position-fixed to_top">
        <img src="./assets/img/png/scroll_To_Top.png" alt="to_top" class="w-100 h-100">
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
        integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script src="./assets/js/app.js"></script>
</body>

</html>